.allMapTool {
    top: 30px;
    right: 30px;
    position: absolute;
    z-index: 999;
}

#mapTools {
    background-image: linear-gradient(to top, #DEE9FF, #fff);
    border: 1px solid #B6CCF8;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
    width: 340px;
    height: 40px;
    border-radius: 6px;
}

#mapTools ul {
    list-style: none;
}

#mapTools ul li {
    float: left;
    line-height: 12px;
    text-align: center;
    position: relative;
    background: url(../images/map/Tools/toolIcon.png) no-repeat;
    width: 65px;
    height: 14px;
    border-right: 1px solid #aaa;
    margin-top: 13px;
    box-sizing: content-box !important;
}

#mapTools ul li:hover {
    float: left;
    line-height: 12px;
    text-align: center;
    position: relative;
    background: url(../images/map/Tools/toolIcon_c.png) no-repeat;
    width: 65px;
    height: 14px;
    border-right: 1px solid #aaa;
    margin-top: 13px;
}

#mapTools ul li.tool_basicGroup {
    background-position: 5px -96px;
}
#mapTools ul li.tool_basicGroup:hover {
    background-position: 5px -96px;
}

#mapTools ul li.tool_zoomIn {
    background-position: 8px 10px;
}
#mapTools ul li.tool_zoomIn:hover {
    background-position: 8px 10px;
}

#mapTools ul li.tool_zoomOut {
    background-position: 8px -16px;
}
#mapTools ul li.tool_zoomOut:hover {
    background-position: 8px -16px;
}

#mapTools ul li.tool_distance {
    background-position: 8px -208px;
}
#mapTools ul li.tool_distance:hover {
    background-position: 8px -208px;
}

#mapTools ul li.tool_area {
    background-position: 8px -232px;
}
#mapTools ul li.tool_area:hover {
    background-position: 8px -232px;
}

#mapTools ul li.tool_scalebar {
    background-position: 8px -472px;
    border-bottom:none;
}
#mapTools ul li.tool_scalebar:hover {
    background-position: 8px -472px;
    border-bottom:none;
}

#mapTools ul li.tool_legend {
    background-position: 8px -192px;
}
#mapTools ul li.tool_legend:hover {
    background-position: 8px -192px;
}

#mapTools ul li.tool_layerList {
    background-position: 8px -168px;
}
#mapTools ul li.tool_layerList:hover {
    background-position: 8px -168px;
}

#mapTools ul li.tool_selectGroup {
    background-position: 5px -264px;
    border-right: none;
}
#mapTools ul li.tool_selectGroup:hover {
    background-position: 5px -264px;
    border-right: none;
}

#mapTools ul li.tool_selectPoint {
    background-position: 8px -376px;
}
#mapTools ul li.tool_selectPoint:hover {
    background-position: 8px -376px;
}

#mapTools ul li.tool_selectCircle {
    background-position: 8px -280px;
}
#mapTools ul li.tool_selectCircle:hover {
    background-position: 8px -280px;
}

#mapTools ul li.tool_selectEllipse {
    background-position: 8px -304px;
}
#mapTools ul li.tool_selectEllipse:hover {
    background-position: 8px -304px;
}

#mapTools ul li.tool_selectArea {
    background-position: 8px -328px;
}
#mapTools ul li.tool_selectArea:hover {
    background-position: 8px -328px;
}

#mapTools ul li.tool_selectPolygon {
    background-position: 8px -352px;
    border-bottom:none;
}
#mapTools ul li.tool_selectPolygon:hover {
    background-position: 8px -352px;
    border-bottom:none;
}

#mapTools ul li.tool_clear {
    background-position: 8px -120px;
}
#mapTools ul li.tool_clear:hover {
    background-position: 8px -120px;
}

#mapTools ul li.tool_mapCompare {
    background-position: 8px -408px;
    border-right: none;
    width: 80px;
}
#mapTools ul li.tool_mapCompare:hover {
    background-position: 8px -408px;
    border-right: none;
    width: 80px;
}

#mapTools ul li.tool_mapOne {
    background-position: 8px -424px;
}
#mapTools ul li.tool_mapOne:hover {
    background-position: 8px -424px;
}

#mapTools ul li.tool_mapTwo {
    background-position: 8px -448px;
    border-bottom:none;
}
#mapTools ul li.tool_mapTwo:hover {
    background-position: 8px -448px;
    border-bottom:none;
}

#mapTools ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 0 10px;
    height: 40px;
    font-size: 12px;
    width: 50px;
    padding-left: 15px;
    outline: none;
    box-sizing: content-box;
}

#mapTools ul li a:hover {
    color: #5999df;
    width: 50px;
    padding-left: 15px;
    box-sizing: content-box;
}

/*二级菜单*/
#mapTools ul li ul {
    position: absolute;
    top: 30px;
    width: 80px;
    background-color: #eff4ff;
}

#mapTools ul li ul li {
    float: none;
    margin-top: 2px;
    background: none;
    border-right: none;
    width: 50px;
    text-align: left;
    padding-left: 13px;
    background-color: #eff4ff;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    margin-left: 10px;
    background: url(../images/map/Tools/toolIcon.png) no-repeat;
}

#mapTools ul li ul li:hover {
    float: none;
    margin-top: 2px;
    background: none;
    border-right: none;
    width: 50px;
    text-align: left;
    padding-left: 13px;
    background-color: #eff4ff;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
    margin-left: 10px;
    background: url(../images/map/Tools/toolIcon_c.png) no-repeat;
}

#mapTools ul li ul li.pic1:hover {
    background-position: 8px 10px;
}

#mapTools ul li ul li.pic2:hover {
    background-position: 8px -16px;
}

#mapTools ul li ul li.none:hover {
    background-position: 8px -42px;
    border-bottom: none;
}

.groupHide {
    display: none;
}

.groupShow {
    display: block;
}