<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="./../logs/proxy_log.log"
                logLevel="INFO"
                mustMatch="true">
  <serverUrls>
    <serverUrl url="http://map.smi.sh.cegn.cn" username="smiuser" password="11111111" matchAll="true"/>
    <serverUrl url="http://10.0.112.72:6080" username="User_Metro" password="User_Metro123" matchAll="true"/>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
